:root {
    --title-font: 'Roboto', sans-serif;
    --primery-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --body-text-color: #434455;
    --helper-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-overlay-color: #2E2F42;
    --hero-background-color: #2E2F42;
    --white-background-color: #FFFFFF;
    --modal-background: #FCFCFC;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.page-container {
  width: 1158px;
  margin: 0 15px;
  min-height: 100vh;
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
    display: flex;
    align-items: center;
    padding: 24px 0;
    justify-content: space-between;
    border-bottom: 1px solid var(--accent-color);
}
.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}

.address-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.link-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--primery-brand-color);
    margin-right: 76px;
}

.logo-dark {
    color: var(--hero-background-color);
}

.header-link {
    font-family: var(--title-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: var(--dark-color);
}

.nav-list .header-link:hover,
.nav-list .header-link:focus {
    color: var(--pressed-state-color);
}

.adress-link {
    font-family: var(--title-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--body-text-color);
}
.adress-link:hover,
.adress-link:focus {
    color: var(--pressed-state-color);
}


/**
  |============================
  | Body
  |============================
*/
body {
    font-family: var(--title-font);
    color: var(--body-text-color);
    background-color: var(--white-background-color);
    list-style: none;
    text-decoration: none;
}

/**
  |============================
  | Section hero first page
  |============================
*/
.hero-section {
    background-color: var(--dark-color);
}

.hero-title {
    font-family: var(--title-font);
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-background-color);
    padding-top: 188px;
    padding-bottom: 48px;
    margin: 0 auto;
    width: 496px;
}

.hero-button {
    display: inline-block;
    font-family: var(--title-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--white-background-color);
    background-color: var(--primery-brand-color);
    border: 0px solid var(--primery-brand-color);
    border-radius: 4px;
    width: 169px;
    height: 56px;
    margin: 0 480px 188px;
}

.hero-button:hover,
.hero-button:focus {
    color: var(--modal-background);
    background-color: var(--pressed-state-color);
}
/**
  |============================
  | Section benefits first page
  |============================
*/
.lorem-title {
    display: none;
}

.benefits-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-top: 120px;
}

.main-page-title {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--modal-overlay-color);
    padding-bottom: 8px;
}

.main-page-text {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}
/**
  |============================
  | Secction 'Doing' first page
  |============================
*/
.page-title {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--hero-background-color);
    margin: 0 auto;
    padding: 120px 0 36px; 
}

.image-doing-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 36px 0 120px;
}

/**
  |============================
  | Team section
  |============================
*/

.team-section {
    background-color: var(--light-color);
}

.team-card-list {
 display: flex;
 gap: 24px;
 padding-top: 36px;
 padding-bottom: 120px;
}

.team-list {
    background-color: var(--white-background-color);
}

.team-container {
    padding: 36px 16px;
    text-align: center;
}

/**
  |============================
  | Buttons
  |============================
*/

.portfolio-title {
    visibility: hidden;
}

.button-list {
    display: flex;
    gap: 24px;
    padding: 69px 271px 72px;
}

.filter-button {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    list-style: none;
    cursor: pointer;
    color: var(--primery-brand-color);
    background-color: var(--light-color);
    border: 0;
    border-radius: 4px;
    padding: 12px 24px;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--white-background-color);
    background-color: var(--pressed-state-color);
}

.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    padding-bottom: 120px;
}

.portfolio-card {
    width: calc((100% - 24px) / 3);
}

.text-card {
    padding: 32px 54px 32px 16px;
    border-left: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}

img {
	display: block;
}

/**
  |============================
  | Fotter
  |============================
*/
.footer {
    background-color: var(--hero-background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
}

.logo-white {
    color: var(--light-color);
}

.text-footer {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
    padding: 16px 864px 100px 0;
}