:root {
    --title-font: 'Roboto', sans-serif;
    --primery-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --body-text-color: #434455;
    --helper-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-overlay-color: #2E2F42;
    --hero-background-color: #2E2F42;
    --white-background-color: #FFFFFF;
    --modal-background: #FCFCFC;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--accent-color);
}

.header-nav {
    display: flex;
    align-items: center;
}

.link-logo {
    margin-right: 76px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}

.address-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.link-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--primery-brand-color);
    margin-right: 76px;
}

.logo-dark {
    color: var(--hero-background-color);
}

.header-link {
    display: flex;
    font-family: var(--title-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: var(--dark-color);
    padding: 24px 0;
}

.nav-list .header-link:hover,
.nav-list .header-link:focus {
    color: var(--pressed-state-color);
}

.adress-link {
    font-family: var(--title-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--body-text-color);
}
.adress-link:hover,
.adress-link:focus {
    color: var(--pressed-state-color);
}
/**
  |============================
  | Body
  |============================
*/
body {
    font-family: var(--title-font);
    color: var(--body-text-color);
    background-color: var(--white-background-color);
    list-style: none;
    text-decoration: none;
}
/**
  |============================
  | Section hero first page
  |============================
*/
.hero-section {
    background-color: var(--dark-color);
    padding: 188px 0;
}

.hero-title {
    font-family: var(--title-font);
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-background-color);
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-button {
    display: block;
    font-family: var(--title-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--white-background-color);
    background-color: var(--primery-brand-color);
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
    color: var(--modal-background);
    background-color: var(--pressed-state-color);
}
/**
  |============================
  | Section benefits first page
  |============================
*/
.benefits-section {
    padding: 120px 0;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-item {
    width: calc((100% - 3 * 24px) / 4);
}

.main-page-title {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--modal-overlay-color);
    margin-bottom: 8px;
}

.main-page-text {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}
/**
  |============================
  | Secction 'Doing' first page
  |============================
*/
.we-doing {
    padding-bottom: 120px;
}
.page-title {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--hero-background-color);
    margin-bottom: 72px;
}

.image-doing-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.image-doing {
    width: calc((100% - 2 * 24px) / 3);
}

/**
  |============================
  | Team section
  |============================
*/

.team-section {
    background-color: var(--light-color);
    padding: 120px 0;
}

.team-card-list {
 display: flex;
 gap: 24px;
}

.team-item {
    background-color: var(--white-background-color);
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-container {
    padding: 32px 16px;
}

.team-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
}
/**
  |============================
  | Portfolio page
  |============================
*/
.portfolio-main {
    padding: 96px 0 120px 0;
}

.portfolio-page {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.button-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filter-button {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    list-style: none;
    cursor: pointer;
    color: var(--primery-brand-color);
    background-color: var(--light-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    padding: 12px 24px;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--white-background-color);
    background-color: var(--pressed-state-color);
    border: 1px solid transparent;
}

.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-bottom: 120px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.text-card {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}

img {
	display: block;
}

/**
  |============================
  | Fotter
  |============================
*/
.footer {
    background-color: var(--hero-background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px 0;  
}


.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-white {
    color: var(--light-color);
}

.text-footer {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
    max-width: 264px;
}